*, *::before, *::after{
    box-sizing: border-box;
    cursor:crosshair;
    ;
}

body{
   overflow: hidden;

}

#canvas1{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);

}


